---
import NoMenuLayout from "../layouts/NoMenuLayout.astro";

import { Calc } from "../components/Calc.tsx";
---

<NoMenuLayout
    title="Pagina de tiquet"
    description="productos adquiridos por el cliente"
>
    <main>
        <div
            class="h-[100vh] w-full bg-white bg-[radial-gradient(#bbb_1px,transparent_1px)] [background-size:16px_16px]"
        >
            <Calc client:load />
        </div>
    </main>
</NoMenuLayout>
