---
import NoMenuLayout from "@/layouts/NoMenuLayout.astro";
---

<NoMenuLayout
    title="Pagina de tiquet"
    description="productos adquiridos por el cliente"
>
    <main>
        Hola mundo
    </main>
</NoMenuLayout>
