---
import Layout from "@/layouts/Layout.astro";
import { Product } from "@/components/Product.tsx";

import { getAllProducts } from "src/scripts/notion";

interface Product {
	id: string;
	producto: string;
	cover: string | undefined;
	rename: string;
	price: number;
	allergens: string[];
	cantidad: number;
}

const products:Product[] = await getAllProducts();
---

<Layout title="Pagina principal" description="Listado de productos">
	<main class="bg-main-pink top-0 mb-[11vh]">
		{products.map((product) => <Product product={product} client:load />)}
	</main>
</Layout>
