---
import NoMenuLayout from "../layouts/NoMenuLayout.astro";
import { Tiquet } from "../components/Tiquet.tsx";
---

<NoMenuLayout
    title="Pagina de tiquet"
    description="productos adquiridos por el cliente"
>
    <main>
        <div
            class="h-full w-full bg-dark-pink bg-[radial-gradient(#bbb_1px,transparent_1px)] [background-size:16px_16px]"
        >
            <div class="bg-white recorte pb-[10%] mx-3">
                <img
                    src="/logo.webp"
                    alt="Logo dulces remedios"
                    class="mx-auto w-48"
                />
                <h1 class="font-ticket text-center text-lg uppercase">
                    Dulces Remedios
                </h1>
                <h2 class="font-ticket text-center text-sm uppercase">
                    Av Marques de Aracena, 94
                </h2>
                <h2 class="font-ticket text-center text-sm uppercase">
                    21360 El Repilado (Jabugo)
                </h2>
                <h2 class="font-ticket text-center text-sm uppercase">
                    Teléfono: 663 18 39 31
                </h2>
                <h2 class="font-ticket text-center text-sm uppercase">
                    Número: {Date.now()} - 0001
                </h2>
                <Tiquet client:load />
            </div>
        </div>
    </main>
</NoMenuLayout>

<style>
    .recorte {
        font-family: ticketing;

        clip-path: polygon(
            0 0%,
            0% 99%,
            3% 98%,
            6% 98.6%,
            9% 98%,
            12% 98.6%,
            15% 98%,
            18% 98.6%,
            21% 98%,
            24% 98.6%,
            27% 98%,
            30% 98.6%,
            33% 98%,
            36% 98.6%,
            39% 98%,
            42% 98.6%,
            45% 98%,
            48% 99%,
            51% 98%,
            54% 98.6%,
            57% 98%,
            60% 98.6%,
            63% 98%,
            66% 98.6%,
            69% 98%,
            72% 98.6%,
            75% 98%,
            78% 99%,
            81% 98%,
            84% 98.6%,
            87% 98%,
            90% 98.6%,
            93% 97.8%,
            97% 98.3%,
            100% 99%,
            100% 0%
        );
    }
</style>
