---
import NoMenuLayout from "@/layouts/NoMenuLayout.astro";
import { Tiquet } from "@/components/Tiquet.jsx";
---

<NoMenuLayout
    title="Pagina de tiquet"
    description="productos adquiridos por el cliente"
>
    <main>
        <Tiquet />
    </main>
</NoMenuLayout>
