---

---

<div
    class="m-2 h-28 bg-white border rounded-xl shadow-sm flex dark:bg-slate-900 dark:border-gray-700 dark:shadow-slate-700/[.7]"
>
    <div
        class="flex-shrink-0 relative w-28 overflow-hidden rounded-s-xl rounded-se-none max-w-xs"
    >
        <img
            class="size-full absolute top-0 start-0 object-cover"
            src="https://imgs.search.brave.com/p-51YEf7HCoELl2NAs9NpyUdUy2BFo7jjAUBfNeXrA0/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/ZWxtdWVibGUuY29t/L21lZGlvLzIwMjMv/MDUvMjIvZ2F0aXRv/c18xZjc0MDA0NV8y/MzA1MjIxMjM5MTFf/MTAwMHg2NjcuanBn"
            alt="Image Description"
        />
    </div>
    <div class="flex flex-wrap">
        <div class="flex flex-col h-full p-4">
            <h3 class="text-xl font-bold text-gray-800 dark:text-white">
                Card title
            </h3>
            <div>
                <p class="text-lg text-gray-500 dark:text-gray-500">12.5€</p>
            </div>
        </div>
    </div>
</div>
