---
interface Props {
	title: string;
	description: string;
}

const { description, title } = Astro.props;

import { Menu } from "@/components/Menu.tsx";
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<slot />
		<footer class="fixed bottom-0 w-full">
			<div class="h-[10vh] items-center">
				<div
					class="h-full w-full bg-white bg-[radial-gradient(#7D4259_1px,transparent_1px)] [background-size:16px_16px] border-t border-dark-pink rounded-t-sm shadow-sm"
				>
					<Menu client:load />
				</div>
			</div>
		</footer>
		<style is:global>
			:root {
				--accent: 136, 58, 234;
				--accent-light: 224, 204, 250;
				--accent-dark: 49, 10, 101;
				--accent-gradient: linear-gradient(
					45deg,
					rgb(var(--accent)),
					rgb(var(--accent-light)) 30%,
					white 60%
				);
			}
			html {
				font-family: system-ui, sans-serif;
				background: #fef9fa;
				background-size: 224px;
			}
			code {
				font-family:
					Menlo,
					Monaco,
					Lucida Console,
					Liberation Mono,
					DejaVu Sans Mono,
					Bitstream Vera Sans Mono,
					Courier New,
					monospace;
			}
		</style>
	</body>
</html>
